.login-form {
    width: 30%;
    mat-form-field {
        display: flex;
        flex-direction: column;
    }
    mat-card-actions {
        display: flex;
        justify-content: center;
    }
}